/*DEVELOPER: Tom Kolawole, IT202-103 */
body {
  margin: 0;
  padding: 0;
  background: lightblue;
}

.nav ul {
  list-style: none;
  background-color: #801515;
  text-align: center;
  padding: 0;
  margin: 0;
}
.nav li {
  font-family: 'Arial', sans-serif;
  font-size: 1.2em;
  line-height: 20px;
  height: 40px;
  border-bottom: 1px solid #888;
}

.nav a {
  text-decoration: none;
  color: #fff;
  display: block;
  transition: .3s background-color;
}

.nav a:hover {
  background-color: #;
}

.nav a.active {
  background-color: #fff;
  color: #444;
  cursor: default;
}

@media screen and (min-width: 600px) {
.nav li {
    width: 120px;
    border-bottom: none;
    height: 50px;
    line-height: 30px;
    font-size: 1.4em;
  }

.nav li {
    display: inline-block;
    margin-right: -4px;
  }

h1 {
    font-family: 'Arial';
    color: #aliceblue;
    text-align: center;
}
p.important {
	color: #black;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 20px;
	}


	//PORTFOLIO

	#portfolio {
  max-width: 940px;
  margin: 0 auto;
  padding: 0 5%;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

h3 {
  margin: 0 0 1em 0;
}


#gallery {
  margin: 0;
  padding: 0;
  list-style: none;
}

#gallery li {
  float: left;
  width: 25%;
  margin: 2.5%;
  background-color: aliceblue;
  color: azure;



}
/*formating gallery text*/
#gallery li a p {
  margin: 0;
  padding: 5%;
  font-size: 20px;
  color: navy;
    text-align: center;

}
/*setting size for images to make them equal*/
#gallery li img {
  //  height: 270px;
    width: 570px;
}

/* navigation CSS*/
nav {
  text-align: center;
  padding: 10px 0;
  margin: 20px 0 0;
     list-style: none;
}
footer{
  clear: both;

}
}
